@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Valencia';
  src: url('../src/assets/fonts/Valencia/Valencia.ttf');
}

@font-face {
  font-family: 'AvenirRoman';
  src: url('../src/assets/fonts/Avenir/Avenir-Roman.ttf');
}

@font-face {
  font-family: 'AvenirBook';
  src: url('../src/assets/fonts/Avenir/Avenir-Book.ttf');
}

@font-face {
  font-family: 'AvenirLight';
  src: url('../src/assets/fonts/Avenir/Avenir-Light.ttf');
}

@font-face {
  font-family: 'AvenirHeavy';
  src: url('../src/assets/fonts/Avenir/Avenir-Heavy.ttf');
}

@font-face {
  font-family: 'AvenirMedium';
  src: url('../src/assets/fonts/Avenir/Avenir-Medium.ttf');
}
